.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #1f1f1f;
    color: #a50069;
    font-family: Arial;
    border-radius: 0.5em;
}

.team {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
}

.nacho{
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
}

.david{
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
}

.mateo{
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
}