.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #121313;
    color:rgb(0, 255, 0);
    border:0.16em solid #0b173f;
    border-radius:2em;
}

.navbarTitle {

    margin-right: 45%;
    margin-left: 5%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

 .navbarSection{ 

    display: flex;
    flex-wrap: nowrap;
    font-family: Arial;
    height: 50%;
    margin-top: 3%
}

.navbarItem1{
    width: 50%;
}

.navbarItem2{
    width: 10%;
   
}

/* .navbarForm{
    width: 10%;
} */

.search {
    width: 10%;
    margin-top: 3%;
    margin-left: 5%;

}

/* .searchTerm {
    border-radius: 30%;

} */
/* 
.lupita {
    width: 10%;
}  */

.ascending {
    
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #0b173f;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FEFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #121313;
    max-height: 40%;
        
       
        
}

.ascending:hover{
    border-color: #08ebd8;
}

.descending {
    
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #0b173f;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FEFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #121313;
    margin-right: 2%;
    margin-left: 0.5%;
    max-height: 40%;
        
       
        
}

.descending:hover{
    border-color: #08ebd8;
}

.orden1 {
    
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #360b3f;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FEFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #121313;
    margin-left: 2%;
    max-height: 40%;
          
}

.orden1:hover{
    border-color: #9f02fa;
}

.orden2 {
    
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #360b3f;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FEFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #121313;
    max-height: 40%;
    margin-left: 0.5%;
        
}

.orden2:hover{
    border-color: #9f02fa;
}
